<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">valor 1</th>
        <th scope="col">valor 2</th>
        <th scope="col">valor 3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let valor of valores">
        <th scope="row">asd </th>
        <td></td>
        <td>{{valor.value}}</td>
        <td>v</td>
        <td>v</td>
        <td>v</td>
        <td>v</td>
        <td>v</td>
      </tr>
   
    </tbody>
</table>
<div>
  <p>
     <!-- <b>valor:</b> {{ valor }} -->

  </p>
</div>
