/* You can add global styles to this file, and also import other style files */
.active {
  background-color: #2196F3;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
  margin-top: 10px;
}
